body{
    font-family: sans-serif;
    font-size: 11pt;
    color: white;
}
h1{
    font-size: 14pt;
    font-weight: bold;
}
a{
    color: #f5a623;
    text-decoration: none;
}
a:hover{
    color: #fff;
}
table{

}
th{
    text-align: left;
}
th, td{
    padding: 4px;
}
img{
    margin: 0 auto;
    display: block;
}
img.button{
    display: inline-block;
    vertical-align: middle;
}
